body{
  background-color:#764929;
}

#contenu{
  background-color: #FFFFE0;
  width: 1400px;
  height:600px;
  border: 3px solid black;
  padding:40px;
  margin-top:150px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:auto;
}

header{
  height: 80px;
  width: 1400px;
  text-align:left;
  background-size:250px
}

#img1 {
  width : 300px;
  height : 300px;
  margin-left:1080px;

}

footer{
  margin-top:50px;
}