body{
  background-color: #F4E2B8;
  background-image: url("https://www.transparenttextures.com/patterns/old-map.png"); 
  font-family: cursive;
  color: #3E2C00;
  padding: 10%;
}

h1{
    font-size: 36px;
    text-align: center;
    color: #8B4513;
    text-shadow: 2px 2px #D2B48C;
}

h2{
    text-align: center;
    font-size: 20px;
    color: #5C3D0C;
    text-shadow: 2px 2px #D2B48C ;
}

ul{
  font-size: 24px;
  font-weight: bold;
}

li:nth-child(2n){
  color: #222222;
}

li:nth-child(2n+1){
  color: #666666;
}