body{
   background-color:#764929;
}


#contenu{
  background-color: #FFFFE0;
  width: 65%;
  height:65%;
  border: 3px solid black;
  margin-top:auto;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:auto;
  font-family:cursive;
  padding-bottom: 6.5%;
  padding-top: 6.5%;
  padding-left: 6.5%;
  padding-right: 6.5%;
    


}

h1{
  text-shadow: 2px 2px white;
    
}

#lien1{
  margin-top: 3%;
  padding: 5px;
  background-color: #8B0000;
  color: white;
  width:50px;
  cursor: pointer;
  font-family:cursive;
  margin-right: 2%;

}