body{
  background: url('https://www.transparenttextures.com/patterns/sandpaper.png');
  background-color: #c2b280;
  font-family:cursive;
}

#contenu{
  background: #fdf5e6;
  border: 5px solid #8b5a2b;
  width: 65%;
  padding: 40px;
  margin: 40px auto;
  border-radius: 15px;
  font-family:cursive;
  color: #3e2723;
}

h1, h2{
  text-shadow: 2px 2px #fff8dc;
  color: #4b2e13;
  text-align: center;
}

#lien1{
  padding: 15px 30px;
  background-color: #8B0000;
  color: #fffacd;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family:cursive;
}

#lien1:hover{
  background-color: #a52a2a;
}

#bouton{
  background-color: #DD0000;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

#condition{
  text-decoration: underline;
}

#temps{
  font-weight: bold;
  font-size: 30px;
  padding: 10px 100px 10px 100px;
  margin: 5px 80px 5px 80px;
}

#bord{
  font-size: 20px;
  font-weight: bold;
}